version: '3.8'

services:
  frontend:
    image: angular-app
    build:
      context: ./newUser
      dockerfile: Dockerfile
    ports:
      - 80:80
    networks:
      - my-network

  backend:
    image: spring-boot-app
    build:
      context: ./user
      dockerfile: Dockerfile
    ports:
      - 8080:8080
    depends_on:
      - db
    networks:
      - my-network

  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: razdeepak
      MYSQL_DATABASE: users
    ports:
      - 3306:3306
    networks:
      - my-network

networks:
  my-network: