<div id="so">
    <table>
        <tr>
            <th>firstName &nbsp;<mat-icon>filter_list</mat-icon></th>
            <th>lastName &nbsp;<mat-icon>filter_list</mat-icon></th>
            <th>emailId &nbsp;<mat-icon>filter_list</mat-icon></th>
            <th>userId &nbsp;<mat-icon>filter_list</mat-icon></th>
        </tr>
        <tr>
            <td>{{user['firstName']}}</td>
            <td>{{user['lastName']}}</td>
            <td>{{user['emailId']}}</td>
            <td>{{user['userId']}}</td>
        </tr>
    </table>
</div>